## Python loading

In [236]:
import sys

import pandas as pd
from pandas import DataFrame, Series

import numpy as np

import matplotlib.pyplot as plt
import matplotlib

#import xgboost as xgb

from sklearn import tree
from sklearn.ensemble import RandomForestClassifier 

%matplotlib inline

In [237]:
train = pd.read_csv("../../data/train.csv", index_col=0)
test = pd.read_csv("../../data/test.csv", index_col=0)

train.head(2)

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby

## Data fitting

In [238]:
train.SexuponOutcome.value_counts()

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
Name: SexuponOutcome, dtype: int64

In [239]:
train = pd.read_csv("../../data/train.csv", index_col=0)
test = pd.read_csv("../../data/test.csv", index_col=0)

def categorising(dataset):
    opt = dataset.copy()

    opt["Intact"] = opt.SexuponOutcome.replace("Intact Male", "Yes")
    opt.Intact = opt.Intact.replace("Neutered Male", "No")
    opt.Intact = opt.Intact.replace("Spayed Female", "No")
    opt.Intact = opt.Intact.replace("Intact Female", "Yes")
    opt.Intact = opt.Intact.replace("Unknown", np.nan)

    opt.Intact = opt.Intact.astype("category")
    opt["IntactValue"] = opt.Intact.cat.codes

    opt.SexuponOutcome = opt.SexuponOutcome.replace("Neutered Male", "Male")
    opt.SexuponOutcome = opt.SexuponOutcome.replace("Intact Male", "Male")
    opt.SexuponOutcome = opt.SexuponOutcome.replace("Spayed Female", "Female")
    opt.SexuponOutcome = opt.SexuponOutcome.replace("Intact Female", "Female")
    opt.SexuponOutcome = opt.SexuponOutcome.replace("Unknown", np.nan)

    opt.SexuponOutcome = opt.SexuponOutcome.astype("category")
    opt["SexuponOutcomeValue"] = opt.SexuponOutcome.cat.codes
    
    opt.Color = opt.Color.astype("category")
    opt["ColorValue"] = opt.Color.cat.codes

    return opt

train = categorising(train)
test = categorising(test)

opt = train.copy()

opt.Intact.value_counts()

No     18599
Yes     7036
dtype: int64

In [240]:


opt.Color.value_counts()

opt[(opt.Color == "Blue") & (opt.AnimalType == "Dog")].Breed.value_counts()

Pit Bull Mix                     34
Weimaraner Mix                    4
Weimaraner                        3
Labrador Retriever Mix            3
Blue Lacy Mix                     3
Chihuahua Shorthair Mix           2
Pit Bull                          2
Chinese Sharpei                   1
Pit Bull/Weimaraner               1
Great Dane/Pit Bull               1
Australian Kelpie Mix             1
Chinese Sharpei/Great Dane        1
Blue Lacy/Australian Kelpie       1
Pit Bull/Flat Coat Retriever      1
Australian Shepherd/Chow Chow     1
Chow Chow                         1
Cane Corso Mix                    1
Great Dane Mix                    1
Staffordshire Mix                 1
Australian Kelpie/Blue Lacy       1
Standard Schnauzer Mix            1
Name: Breed, dtype: int64

In [241]:
opt.AnimalType = opt.AnimalType.astype("category")
opt.AnimalType.value_counts()

Dog    15595
Cat    11134
dtype: int64

In [242]:
opt.OutcomeType = opt.OutcomeType.astype("category")
opt.OutcomeType.value_counts()

Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
dtype: int64

## Prediction

In [243]:
#create and train the random forest
    #multi-core CPUs can use: rf = RandomForestClassifier(n_estimators=100, n_jobs=2)
rf = RandomForestClassifier(n_estimators=100, n_jobs=-1)

d_train = opt[["SexuponOutcomeValue", "IntactValue", "ColorValue"]].values

#d_train
d_target = opt.OutcomeType.cat.codes.values

In [244]:
d_train


rf.fit(d_train, d_target)


#d_train.reshape(-1, 1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [245]:
myTest = test.copy()

stopCounter = 100

result = None #DataFrame(columns=["ID", "Adoption", "Died", ])

predictOn = myTest[['SexuponOutcomeValue', 'IntactValue', 'ColorValue']]

calcPredictProbas = rf.predict_proba(predictOn.values)

In [246]:
ii = 0
for index, row in myTest.iterrows():
    stopCounter = stopCounter - 1
    #if stopCounter < 0: break
    
    probas = calcPredictProbas[ii]
    ii = ii + 1
    #print(probas)
    
    #for i in probas:
    if result is None:
        result = DataFrame(columns=["ID"])
        result.set_index("ID")

        for j in range(0, len(probas)):
            result[opt.OutcomeType.cat.categories[j]] = None

    #print(index)

    newLine = [index]
    newLine.extend(probas)
    #print(newLine)
    result.loc[len(result)] = newLine
            
result.head()

    ID  Adoption  Died  Euthanasia  Return_to_owner  Transfer
0  1.0  0.000000   0.0    0.076437         0.332849  0.590714
1  2.0  0.499551   0.0    0.005837         0.490539  0.004072
2  3.0  0.039048   0.0    0.492667         0.468286  0.000000
3  4.0  0.000000   0.0    0.164517         0.502743  0.332741
4  5.0  0.460993   0.0    0.000000         0.369203  0.169804

In [247]:
result["ID"] = result["ID"].astype(int)
result.set_index("ID", inplace=True)
result.to_csv("result.csv")
result

       Adoption      Died  Euthanasia  Return_to_owner  Transfer
ID
1      0.000000  0.000000    0.076437         0.332849  0.590714
2      0.499551  0.000000    0.005837         0.490539  0.004072
3      0.039048  0.000000    0.492667         0.468286  0.000000
4      0.000000  0.000000    0.164517         0.502743  0.332741
5      0.460993  0.000000    0.000000         0.369203  0.169804
6      0.301000  0.000000    0.000000         0.630000  0.069000
7      0.587728  0.000000    0.048368         0.166836  0.197068
8      0.970000  0.000000    0.005000         0.005000  0.020000
9      0.230583  0.000000    0.244571         0.514845  0.010000
10     0.807319  0.000282    0.017941         0.094490  0.079968
11     0.224606  0.000000    0.000000         0.097654  0.677740
12     0.053415  0.018337    0.018115         0.000000  0.910133
13     0.648051  0.000000    0.074691         0.188040  0.089219
14     0.460993  0.000000    0.000000         0.369203  0.169804
15     0.612984  0.000000    0.060000         0.000000  0.327016
16     0.806896  0.000000    0.000000         0.185137  0.007967
17     0.667119  0.000000    0.000000         0.327881  0.005000
18     0.994786  0.000000    0.000000         0.000000  0.005214
19     0.752716  0.000000    0.024665         0.082083  0.140536
20     0.026991  0.053611    0.106586         0.020000  0.792813
21     0.439581  0.000252    0.001287         0.546308  0.012571
22     0.000000  0.014557    0.104188         0.018691  0.862563
23     0.865367  0.000000    0.000000         0.000000  0.134633
24     0.026805  0.053974    0.139531         0.014000  0.765691
25     0.114667  0.000000    0.000000         0.696000  0.189333
26     0.039048  0.000000    0.492667         0.468286  0.000000
27     0.805109  0.000000    0.000000         0.091380  0.103511
28     0.054785  0.067412    0.140570         0.019602  0.717630
29     0.447609  0.000000    0.051365         0.459091  0.041935
30     0.066769  0.000000    0.003364         0.023696  0.906172
...         ...       ...         ...              ...       ...
11427  0.301000  0.000000    0.000000         0.630000  0.069000
11428  0.141632  0.048724    0.057339         0.000000  0.752305
11429  0.298188  0.000000    0.067880         0.354038  0.279893
11430  0.727584  0.000000    0.045633         0.090991  0.135792
11431  0.044167  0.000000    0.000000         0.686452  0.269381
11432  0.000000  0.000000    0.000000         0.749107  0.250893
11433  0.806896  0.000000    0.000000         0.185137  0.007967
11434  0.000000  0.000000    0.000000         0.643333  0.356667
11435  0.499551  0.000000    0.005837         0.490539  0.004072
11436  0.000156  0.000156    0.091250         0.882656  0.025781
11437  0.447609  0.000000    0.051365         0.459091  0.041935
11438  0.010000  0.000000    0.000000         0.620000  0.370000
11439  0.626264  0.028523    0.000000         0.060995  0.284218
11440  0.735681  0.000000    0.000000         0.172064  0.092256
11441  0.000000  0.000000    0.032709         0.000000  0.967291
11442  0.918664  0.000000    0.008506         0.015255  0.057575
11443  0.663868  0.000000    0.026459         0.082070  0.227603
11444  0.752716  0.000000    0.024665         0.082083  0.140536
11445  0.009050  0.001284    0.008621         0.004000  0.977045
11446  0.138760  0.000000    0.152062         0.403396  0.305782
11447  0.066769  0.000000    0.003364         0.023696  0.906172
11448  0.535301  0.000000    0.059524         0.052386  0.352789
11449  0.790291  0.000000    0.018257         0.023098  0.168355
11450  0.943520  0.000000    0.000000         0.000000  0.056480
11451  0.663868  0.000000    0.026459         0.082070  0.227603
11452  0.066769  0.000000    0.003364         0.023696  0.906172
11453  0.000000  0.000000    0.000000         0.656571  0.343429
11454  0.009050  0.001284    0.008621         0.004000  0.977045
11455  0.667119  0.000000    0.000000         0.327881  0.005000
11456  0.045900  0.020504    0.157833         0.295244  0.480520

[11456 rows x 5 columns]