# Statistik zum Outcome type
Es soll ein Barplot geben, der je nach Verbleibdauer (in Jahren) zeigen soll:

- **Alle positiven **
    + Adoption
    + Return_to_owner
    + Transfer
    
- ** Alle negativen **
    + Euthanesia 
    + Died

In [ ]:
import sys

import pandas as pd
from pandas import DataFrame, Series

import numpy as np

import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline

In [168]:
data = pd.read_csv("../../data/train.csv", index_col=0)
data.head(2)

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby

In [6]:
data.columns

Index(['Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype', 'AnimalType',
       'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

#### Das Problem hier ist, dass in AgeuponOutcome mit unterschiedlichen Einheiten (Jahr, Jahre, Monat, Monate, Woche, Wochen, ...) gerechnet wird. Also muss das erstmal auf Jahre gerechnet werden.
Es gibt auch noch den blöden Sonderfall "0 years". Ich rechne das mal auf einen Tag um ...

In [11]:
data.AgeuponOutcome.value_counts().head(5)

1 year      3969
2 years     3742
2 months    3397
3 years     1823
1 month     1281
Name: AgeuponOutcome, dtype: int64

In [171]:
data.AgeuponOutcome.replace(["0 year", "0 years"], "1 day", inplace=True)

s = data.AgeuponOutcome.str.split(" ").apply(Series, 1).stack()

Series
#data.AgeuponOutcome

pandas.core.series.Series

In [169]:
data.AgeuponOutcome.head(5)
#s = data.AgeuponOutcome.str.split(" ").apply(Series, 0)
#s.head(5)

AnimalID
A671945     1 year
A656520     1 year
A686464    2 years
A683430    3 weeks
A667013    2 years
Name: AgeuponOutcome, dtype: object

In [162]:
s.rename(columns={0: "AgeuponOutcomeValue", 1: "AgeuponOutcomeUnit"})

        AgeuponOutcomeValue AgeuponOutcomeUnit
0
A671945                   1               year
A656520                   1               year
A686464                   2              years
A683430                   3              weeks
A667013                   2              years
A677334                   1              month
A699218                   3              weeks
A701489                   3              weeks
A671784                   5             months
A677747                   1               year
A668402                   2              years
A666320                   2              years
A684601                   4              years
A704702                   2              years
A688584                   1               year
A678825                   3             months
A678050                   3              weeks
A680028                   2              weeks
A679010                   2              years
A684787                   1               year
A670658                   2             months
A708812                   1               year
A705262                   2              years
A665781                  10             months
A676333                   2             months
A712750                   1              month
A718832                   6             months
A698777                   5              years
A715348                   2             months
A708666                   7              years
...                     ...                ...
A676460                   2              years
A704999                  10             months
A678842                  11             months
A713637                   2              years
A716670                   6              years
A716223                   4              weeks
A662498                   2             months
A689942                   2             months
A682690                   1               year
A666920                   2              years
A714386                   1              month
A692622                   1              month
A666284                   1               year
A535277                  12              years
A671169                  18              years
A679031                   2             months
A708833                   2             months
A697158                   2             months
A519949                   9              years
A701044                   2             months
A707871                   2              years
A704405                   2             months
A662019                   5              years
A687056                   5             months
A716997                   6              years
A702446                   1              month
A718934                   3             months
A698128                   4              years
A677478                   4              weeks
A706629                   1               year

[26729 rows x 2 columns]

In [140]:
s = data.AgeuponOutcome.str.split(" ").apply(Series, 1).stack()
s.head(5)

A671945  0       1
         1    year
A656520  0       1
         1    year
A686464  0       2
dtype: object

In [141]:
s = data.AgeuponOutcome.str.split(" ").apply(Series, 1).stack()
s.index = s.index.droplevel(-1)
s.head(5)

0
A671945       1
A671945    year
A656520       1
A656520    year
A686464       2
dtype: object